@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


body {
  min-width: 1200px;
  min-height: 675px;
  font-family: 'Roboto', sans-serif;
}

#mainContainer {
  margin: 15px 10px 40px auto;
  box-shadow: 3px 10px 20px -3px rgba(97, 97, 97, 0.5);
  background-color: #F1F0F1;
  position: absolute;
  min-width: calc(100% - 50px);
  max-width: calc(100% - 50px);
  width: calc(100% - 50px);
}

.orange-background {
  background-color: #F79610;
}

#topBar {
  height: 11.5%;
  min-height: 75px;
  width: auto;
}

#settingsBtn {
  float: right;
  margin-right: 10%;
  padding: 10px;
}

#settingsIcon {
  color: rgb(255, 255, 255);
  font-size: 40pt;
}

.transparentBtn {
  background-color:transparent;
  border: none;
  box-shadow: none;
}

#leftBar {
  min-width: 200px;
  width: 13.5%;
  margin-left: 15px;
  float: left;
  margin: auto;
  margin-bottom: 0;
  height: 92%;
  position: absolute;
}

#logo {
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 15px;
}

#logoContainer {
  background-color: #D07A2E;
  height: 11.5%;
  min-height: 75px;
  width: 13.5%;
  min-width: 200px;
  float: left;
}

#avatar {
  border-radius: 50%;
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}

#contentContainer {
  width: 83%;
  min-width: 970px;
  height: 88.5%;
  margin-left: 15%;
}

/* COMPONENTS PANELS */
#searchBar {
  border: none;
  margin: 15px 90px 15px 25px;
  box-shadow: 3px 10px 20px -3px rgba(97, 97, 97, 0.5);
}

#searchBarInput{
  min-height: 70px;
  border: none;
  box-shadow: none;
}

#searchBarInputInModal {
  width: auto;
  display: inline;
  min-width: 50%;
  box-shadow: none;
}

#activeLists, #observationCharts, #medications, #nextAppointments {
  border: none;
  box-shadow: 0px 3px 3px 1px rgba(153, 153, 153, 0.5);
  margin-top: 15px;
  margin-bottom: 5px;
  overflow-y: auto;
  resize: both;
  margin-left: 45px;
}

#activeLists h1, #observationCharts h1, #medications h1, #nextAppointments h1 {
  font-size: 27pt;
  font-weight: 300;
}

#activeLists {
  width: 450px;
  height: 715px;
}

#observationCharts {
  height: 400px;
  width: 53%;
  font-size: 20pt;
}

#observationCharts h1 {
  font-size: 30pt;
  text-indent: 7%
}

#medications h1 {
  text-align: center;
}

#medications {
  height: 300px;
  width: 360px;
}

#nextAppointments {
  height: 300px;
  width: 340px;
}

#problems h1, #lastVisits h1 {
  font-size: 22pt;
  padding: 10px;
}

#problems {
  float: left;
  width: 50%;
}

#problemsCircle {
  float: left;
}

#lastVisits{
    float: right;
    width: 45%;
}

#lastVisitsCircle {
  float: right;
}

.label-orange {
  background-color: #ED8F33;
  border-width: 1px;
  border-color: #ED8F33;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 150px;
}

/* COMPONENTS */

#patientDemographicsComponent {
  font-size: 25pt;
  --patient-demographics-font-color: rgb(255, 255, 255);
}

#lastVisitsComponent {
  --last-visits-encounters-display: block;
  --last-visits-encounters-font-size: 13pt;
  --last-visits-encounters-font-size-datetime: 10pt;
  --last-visits-encounters-font-color: rgb(255, 255, 255);
  --last-visits-encounters-font-color-datetime: rgb(245, 245, 245);
}

#patientMedicationsComponent {
  --patient-medication-font-size: 13pt;
  --patient-medication-font-size-index : 15pt;
  --patient-medication-font-color: rgb(255, 255, 255);
  --patient-medication-font-color-datetime: rgb(245, 245, 245);
}

#nextAppointmentsComponent {
  --next-appointments-font-size-datetime: 9pt;
}

#problemsComponent {
  --conditions-problems-font-size: 13pt;
  --conditions-problems-font-size-onset: 10pt;
  --conditions-problems-font-color-onset: rgb(245, 245, 245);
  --conditions-problems-font-color: rgb(255, 255, 255);
}

/*MODAL*/

.modal {
  font-size: 13pt;
}



/*BIGGER CHECKBOX from: https://stackoverflow.com/questions/22743457/size-of-checkbox-bootstrap*/
:root label.checkbox-bootstrap input[type=checkbox] {
  /* hide original check box */
  opacity: 0;
  position: absolute;
  /* find the nearest span with checkbox-placeholder class and draw custom checkbox */
  /* draw checkmark before the span placeholder when original hidden input is checked */
  /* disabled checkbox style */
  /* disabled and checked checkbox style */
  /* when the checkbox is focused with tab key show dots arround */
}
:root label.checkbox-bootstrap input[type=checkbox] + span.checkbox-placeholder {
  width: 14px;
  height: 14px;
  border: 1px solid;
  border-radius: 3px;
  /*checkbox border color*/
  border-color: #737373;
  display: inline-block;
  cursor: pointer;
  margin: 0 7px 0 -20px;
  vertical-align: middle;
  text-align: center;
}
:root label.checkbox-bootstrap input[type=checkbox]:checked + span.checkbox-placeholder {
  background: #e4870d;
}
:root label.checkbox-bootstrap input[type=checkbox]:checked + span.checkbox-placeholder:before {
  display: inline-block;
  position: relative;
  vertical-align: text-top;
  width: 5px;
  height: 9px;
  /*checkmark arrow color*/
  border: solid white;
  border-width: 0 2px 2px 0;
  /*can be done with post css autoprefixer*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}
:root label.checkbox-bootstrap input[type=checkbox]:disabled + span.checkbox-placeholder {
  background: #ececec;
  border-color: #c3c2c2;
}
:root label.checkbox-bootstrap input[type=checkbox]:checked:disabled + span.checkbox-placeholder {
  background: #d6d6d6;
  border-color: #bdbdbd;
}
:root label.checkbox-bootstrap input[type=checkbox]:focus:not(:hover) + span.checkbox-placeholder {
  outline: 1px dotted black;
}
:root label.checkbox-bootstrap.checkbox-lg input[type=checkbox] + span.checkbox-placeholder {
  width: 26px;
  height: 26px;
  border: 2px solid;
  border-radius: 5px;
  /*checkbox border color*/
  border-color: #737373;
}
:root label.checkbox-bootstrap.checkbox-lg input[type=checkbox]:checked + span.checkbox-placeholder:before {
  width: 9px;
  height: 15px;
  /*checkmark arrow color*/
  border: solid white;
  border-width: 0 3px 3px 0;
}
