@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

html, body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}


#mainContainer {
  margin-top: 15px;
  margin-bottom: 40px;
  height: calc(100% - 40px);
  box-shadow: 3px 10px 20px -3px rgba(97, 97, 97, 0.5);
  background-color: #F1F0F1;
}

.orange-background {
  background-color: #F79610;
}

#topBar {
  height: 11vh;
  width: auto;
}

#leftBar {
  width: 13.5vw;
  margin-left: 15px;
  float: left;
  margin: auto;
  height: calc(100% - 11vh);
}

#logo {
  width: 13.5vw;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  padding: 1vh;
  margin-top: 2vh;
}

#logoContainer {
  background-color: #D07A2E;
  height: 11vh;
  width: 13.5vw;
  float: left;
}

#avatar {
  border-radius: 50%;
  width: 8vw;
  height: auto;
  display: block;
  margin: auto;
}

#contentContainer {
  width: calc(100vw - 13.5vw - 1.6vw);
  height: calc(100vh - 11vh - 55px);
  margin-bottom: calc(11vh + 55px);
  margin-left: 13.5vw;
}

/* COMPONENTS PANELS */

#searchBar {
  height: 10vh;
  border: none;
  margin: 15px 90px 15px 60px;
  box-shadow: 3px 10px 20px -3px rgba(97, 97, 97, 0.5);
}

#activeLists, #observationCharts, #medications, #enrolledPrograms, #nextAppointments {
  border: none;
  box-shadow: 0px 3px 3px 1px rgba(153, 153, 153, 0.5);
  margin-top: 15px;
  margin-bottom: 5px;
  overflow: auto;
}

#activeLists h1, #observationCharts h1, #medications h1, #enrolledPrograms h1, #nextAppointments h1 {
  font-size: 27pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#activeLists {
  height: 39vh;
  margin-left: 75px;
}

#observationCharts {
  height: 40vh;
  margin-left: 75px;
  width: 43vw;
  font-size: 4.5vmin;
}

#observationCharts h1 {
  font-size: 3.7vmin;
  text-indent: 7%
}

#medications h1 {
  text-align: center;
}

#medications {
  height: 25vh;
  margin-left: 75px;
}

#enrolledPrograms {
  height: 25vh;
  margin-left: 75px;
}

#nextAppointments {
  height: 25vh;
  margin-left: 15px;
}

#problems h1, #lastVisits h1 {
  font-size: 22pt;
  padding: 10px;
}

#problems {
  float: left;
  width: 35%;
}

#lastVisits{
    float: right;
    width: 60%;
}

.label-orange {
  background-color: #ED8F33;
  border-width: 1px;
  border-color: #ED8F33;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
}

/* COMPONENTS */

#patientDemographicsComponent {
  font-family: 'Roboto', sans-serif;
  font-size: 25pt;
  --patient-demographics-font-color: rgb(255, 255, 255);
}

#lastVisitsComponent {
  font-family: 'Roboto', sans-serif;
  --last-visits-encounters-display: block;
  --last-visits-encounters-font-size: 13pt;
  --last-visits-encounters-font-size-datetime: 10pt;
  --last-visits-encounters-font-color: rgb(255, 255, 255);
  --last-visits-encounters-font-color-datetime: rgb(245, 245, 245);
}

#patientMedicationsComponent {
  font-family: 'Roboto', sans-serif;
  --patient-medication-font-size: 13pt;
  --patient-medication-font-size-index : 15pt;
  --patient-medication-font-color: rgb(255, 255, 255);
  --patient-medication-font-color-datetime: rgb(245, 245, 245);
}
