<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="last-visits">

  <template>

    <style>
      /* shadow DOM styles go here */
      :host #lastVisitsEncounters{
        font-size: var(--last-visits-encounters-font-size , 20pt);
        color: var(--last-visits-encounters-font-color , rgb(24, 24, 24));
        background-color: var(--last-visits-encounters-background-color , inherit);
        padding: var(--last-visits-encounters-padding , 10px);

      }

      /*INDEX*/
      :host .index {
        font-size: var(--last-visits-encounters-font-size-index , inherit);
        color: var(--last-visits-encounters-font-color-index , inherit);
        display: var(--last-visits-encounters-display-index , inherit);
      }


      /*TYPE*/
      :host .type {
        font-size: var(--last-visits-encounters-font-size-type , inherit);
        color: var(--last-visits-encounters-font-color-type , inherit);
        display: var(--last-visits-encounters-display-type , inherit);
      }


      /*LOCATION*/
      :host .location {
        font-size: var(--last-visits-encounters-font-size-location , inherit);
        color: var(--last-visits-encounters-font-color-location , inherit);
        display: var(--last-visits-encounters-display-location , inherit);
      }


      /*DATETIME*/
      :host .datetime {
        font-size: var(--last-visits-encounters-font-size-datetime , 15pt);
        color: var(--last-visits-encounters-font-color-datetime , rgb(88, 88, 88));
        display: var(--last-visits-encounters-display-datetime , inherit);
      }

      /*TITLE [INDEX, TYPE]*/
      :host .title {
        background: #DA8232;
        border-radius: 15px;
        padding-left: 10%;
      }


    </style>


    <!-- shadow DOM goes here -->
    <div id="lastVisitsEncounters">
      <template is="dom-repeat" items="[[toShow]]">
        <p>
            <div class="title"><span class="index">{{displayIndex(index)}}.</span><span class="type">{{item.resource.type.0.text}}</br></span></div>
            <span class="location">{{item.resource.location.0.location.display}}</br></span>
            <span class="datetime">From {{item.resource.period.start}} until {{item.resource.period.end}}</br></span>
        </p>
      </template>
    </div>



    <iron-ajax
    url="{{url}}"
    headers='{"Accept": "application/json+fhir"}'
    content-type="application/json"
    handle-as="json"
    on-response="handleResponse"
    method="GET"
    on-error="_error"
    id="iron_ajax"/>

  </template>

  <script>
    class LastVisits extends Polymer.Element {
      static get is() {
        return 'last-visits';
      }
      static get properties() {
        return {
          toShow: {
            type: Array
          },
          patientid: {
            type: String,
            observer: "_changedPatientID"
          },
          url: {
            type: String
          }
        }
      }

      constructor() {
        super();
      }


      handleResponse(data) {
        var encounters = data.detail.response.entry;

        //delete encounters above 5 index
        encounters.splice(5, encounters.length);


        //parse dates
        for (var i = 0; i < encounters.length; i++) {
          encounters[i].resource.period.start = parseDate(encounters[i].resource.period.start);
          encounters[i].resource.period.end = parseDate(encounters[i].resource.period.end);
        }

        this.toShow = encounters;
      }

      _changedPatientID(){
        this.url = "https://fhirtest.uhn.ca/baseDstu3/Encounter?patient=" + this.patientid;
        this.$.iron_ajax.generateRequest();
      }

      displayIndex(index) {
        return index + 1;
      }

      _error(event) {
        console.log(event);
        console.log(event.detail);
        console.log(event.detail.error);
        console.log(event.detail.error.message);
        console.log(event.detail.request);
        console.log(event.detail.response);
        console.log(event.detail.request.response);
      }

    }
    customElements.define(LastVisits.is, LastVisits);
  </script>

  <script>
    function parseDate(givenDate) {
      var date = new Date(givenDate);

      //part of code from https://stackoverflow.com/questions/3605214/javascript-add-leading-zeroes-to-date with added hours and minutes
      var myDateString;
      date.setDate(date.getDate() + 0);
      myDateString = ('0' + date.getDate()).slice(-2) + '/' +
        ('0' + (date.getMonth() + 1)).slice(-2) + '/' +
        date.getFullYear() + '  ' +
        ('0' + (date.getHours() - 1)).slice(-2) + ':' +
        ('0' + date.getMinutes()).slice(-2);

      return myDateString;
    }
  </script>

</dom-module>
