<link rel="import" href="../bower_components/polymer/polymer-element.html">
<script type="text/javascript" src="../caleandar-jujumuncher/js/caleandar.min.js"></script>
<link rel="stylesheet" href="../caleandar-jujumuncher/css/theme2.css" />

<dom-module id="next-appointments">

  <template>

    <style>
      /* shadow DOM styles go here */
      :host #content{
        font-size: var(--next-appointments-font-size , 10pt);
        color: var(--next-appointments-font-color , rgb(24, 24, 24));
        background-color: var(--next-appointments-background-color , inherit);
        padding: var(--next-appointments-padding , 10px);
      }

      /*TYPE*/
      :host .type{
        font-size: var(--next-appointments-font-size-type , inherit);
        color: var(--next-appointments-font-color-type , inherit);
      }

      /*STATUS*/
      :host .status{
        font-size: var(--next-appointments-font-size-status , inherit);
        color: var(--next-appointments-font-color-status , inherit);
      }

      /*DATE TIME*/
      :host .datetime{
        font-size: var(--next-appointments-font-size-datetime , 15pt);
        color: var(--next-appointments-font-color-datetime , rgb(88, 88, 88));
        display: var(--next-appointments-display-datetime , inherit);
      }

    </style>


    <!-- shadow DOM goes here -->
    <div id="content">
      <div id="caleandar"/>
    </div>

  <iron-ajax url="{{url}}" headers='{"Accept": "application/json+fhir"}' content-type="application/json" handle-as="json" on-response="handleResponse" method="GET" on-error="_error" id="iron_ajax" />

  </template>

  <script>
    class NextAppointments extends Polymer.Element {
      static get is() {
        return 'next-appointments';
      }
      static get properties() {
        return {
          toShow: {
            type: Array
          },
          patientid: {
            type: String,
            observer: "_changedPatientID"
          },
          url: {
            type: String
          }
        }
      }

      constructor() {
        super();
      }


      handleResponse(data) {
        var nextAppointments = data.detail.response.entry;
        runCalendar(this.$.caleandar, nextAppointments);
      }

      _changedPatientID() {
        this.url = "https://fhir-open.sandboxcerner.com/dstu2/0b8a0111-e8e6-4c26-a91c-5069cbc6b1ca/Appointment?date=ge2017&date=le2019&patient=" + this.patientid;
        this.$.iron_ajax.generateRequest();
      }

      displayIndex(index) {
        return index + 1;
      }

      _error(event) {
        console.log(event);
        console.log(event.detail);
        console.log(event.detail.error);
        console.log(event.detail.error.message);
        console.log(event.detail.request);
        console.log(event.detail.response);
        console.log(event.detail.request.response);
      }

    }
    customElements.define(NextAppointments.is, NextAppointments);
  </script>

  <script>
    function runCalendar(calendarDiv, appointments) {
      var events = [];

      for (var i = 0; i < appointments.length; i++) {
        var appointmentDateStart = new Date(appointments[i].resource.start);
        var appointmentDateEnd = new Date(appointments[i].resource.end);

        var startMinuteHourString = ('0' + (appointmentDateStart.getHours() - 1)).slice(-2) + ':' + ('0' + appointmentDateStart.getMinutes()).slice(-2);
        var endMinuteHourString = ('0' + (appointmentDateEnd.getHours() - 1)).slice(-2) + ':' + ('0' + appointmentDateEnd.getMinutes()).slice(-2);
        var eventObj = {
          'Date': new Date(appointmentDateStart.getFullYear(), appointmentDateStart.getMonth(), appointmentDateStart.getDate()),
          'Title': "<span class='type'>" + appointments[i].resource.type.coding[0].display + "</br></span><span class='status'>Status: " + appointments[i].resource.status + "</br></span><span class='datetime'> From " + startMinuteHourString +
            " until " + endMinuteHourString + "</span>",
          'Link': "#"
        }
        events.push(eventObj);
      }
      var settings = {};
      caleandar(calendarDiv, events, settings);
    }
  </script>

</dom-module>
