<link rel="import" href="../bower_components/polymer/polymer-element.html">
<script type="text/javascript" src="../caleandar-jujumuncher/js/caleandar.min.js"></script>

<dom-module id="next-appointments">

  <template>

    <style>
      /* shadow DOM styles go here */
      :host #content{
        font-size: var(--next-appointments-font-size , 10pt);
        color: var(--next-appointments-font-color , rgb(24, 24, 24));
        background-color: var(--next-appointments-background-color , inherit);
        padding: var(--next-appointments-padding , 10px);
      }

      /*TYPE*/
      :host .type{
        font-size: var(--next-appointments-font-size-type , inherit);
        color: var(--next-appointments-font-color-type , inherit);
      }

      /*STATUS*/
      :host .status{
        font-size: var(--next-appointments-font-size-status , inherit);
        color: var(--next-appointments-font-color-status , inherit);
      }

      /*DATE TIME*/
      :host .datetime{
        font-size: var(--next-appointments-font-size-datetime , 15pt);
        color: var(--next-appointments-font-color-datetime , rgb(88, 88, 88));
        display: var(--next-appointments-display-datetime , inherit);
      }

    </style>

    <style>
    /*STYLES FOR CALENDAR*/
    :host .cld-main{
      width: 100%;
    }
    :host .cld-main a{
      color: #c86811;
    }
    :host .cld-main svg{
      fill: #ee7c14;
    }
    :host .cld-datetime{
      position: relative;
      width: 66%;
      min-width: 75px;
      max-width: 225px;
      margin: auto;
      overflow: hidden;
    }
    :host .cld-datetime .today{
      position: relative;
      float: left;
      width: calc(100% - 40px);
      margin: auto;
      text-align: center;
    }
    :host .cld-nav{
      position: relative;
      width: 20px;
      height: 20px;
      margin-top: 2px;
    }
    :host .cld-nav:hover{
      cursor: pointer;
    }
    :host .cld-nav:hover svg{
        fill: #b56319;
    }
    :host .cld-rwd{
      float: left;
    }
    :host .cld-fwd{
      float: right;
    }
    :host .cld-labels, .cld-days{
      padding-left: 0;
    }
    :host .cld-label, .cld-day{
      box-sizing: border-box;
      display: inline-block;
      width: 14.28%;
      text-align: center;
    }
    :host .cld-day{
      border: 1px solid #eee;
    }
    :host .cld-day.today .cld-number{
      background: #DA8232;
      color: #fff;
    }
    :host .cld-day.disableDay{
      opacity: 0.5;
    }
    :host .cld-day.nextMonth, .cld-day.prevMonth{
      opacity: 0.33;
    }
    :host .cld-number{
      position: relative;
      margin: 0;
      padding: 10px;
    }
    :host .cld-title{
      position: absolute;
      z-index: 5;
      display: none;
      top: 35px;
      left: 0;
      padding: 5px 10px;
      background: #fff;
      white-space: nowrap;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 10pt;
    }
    :host .cld-number:hover .cld-title{
      display: block;
    }
    :host .cld-title::before{
      content: '';
      position: absolute;
      top: -7.5px; left: 10px;
      width: 0;
      height: 0;
      border-left: 7.5px solid transparent;
      border-right: 7.5px solid transparent;
      border-bottom: 7.5px solid #ccc;
    }
    :host .cld-number.eventday{
      font-weight: bold;
      color: #fff;
      background: #DD4312 !important;
    }
    :host .cld-number.eventday:hover{
      cursor: pointer;
      background: #e87855 !important;
    }
    </style>


    <!-- shadow DOM goes here -->
    <div id="content">
      <div id="caleandar"/>
    </div>

  <iron-ajax url="{{url}}" headers='{"Accept": "application/json+fhir"}' content-type="application/json" handle-as="json" on-response="handleResponse" method="GET" on-error="_error" id="iron_ajax" />

  </template>

  <script>
    class NextAppointments extends Polymer.Element {
      static get is() {
        return 'next-appointments';
      }
      static get properties() {
        return {
          toShow: {
            type: Array
          },
          patientid: {
            type: String,
            observer: "_changedPatientID"
          },
          url: {
            type: String
          }
        }
      }

      constructor() {
        super();
      }


      handleResponse(data) {
        var nextAppointments = data.detail.response.entry;
        if (nextAppointments) {
          runCalendar(this.$.caleandar, nextAppointments);
        } else {
          __notFound(this.$.content);
        }
      }

      _changedPatientID() {
        this.url = "http://sqlonfhir-stu3.azurewebsites.net/fhir/Appointment?date=ge2017&date=le2019&patient=" + this.patientid;
        this.$.iron_ajax.generateRequest();
      }

      displayIndex(index) {
        return index + 1;
      }

      _error(event) {
        __ironAjaxError(event);
      }

    }
    customElements.define(NextAppointments.is, NextAppointments);
  </script>

  <script>
    function runCalendar(calendarDiv, appointments) {
      var events = [];

      for (var i = 0; i < appointments.length; i++) {
        var appointmentDateStart = new Date(appointments[i].resource.start);
        var appointmentDateEnd = new Date(appointments[i].resource.end);

        var startMinuteHourString = ('0' + (appointmentDateStart.getHours() - 1)).slice(-2) + ':' + ('0' + appointmentDateStart.getMinutes()).slice(-2);
        var endMinuteHourString = ('0' + (appointmentDateEnd.getHours() - 1)).slice(-2) + ':' + ('0' + appointmentDateEnd.getMinutes()).slice(-2);
        var eventObj = {
          'Date': new Date(appointmentDateStart.getFullYear(), appointmentDateStart.getMonth(), appointmentDateStart.getDate()),
          'Title': "<span class='type'>" + appointments[i].resource.description + "</br></span><span class='status'>Status: " + appointments[i].resource.status + "</br></span><span class='datetime'> From " + startMinuteHourString +
            " until " + endMinuteHourString + "</span>",
          'Link': "#"
        }
        events.push(eventObj);
      }
      var settings = {};
      caleandar(calendarDiv, events, settings);
    }
  </script>

</dom-module>
