<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="observation-charts">

  <template>

    <style>
      /* shadow DOM styles go here */
      :host #content{
        font-size: var(--observation-charts-font-size , 20pt);
        color: var(--observation-charts-font-color , rgb(24, 24, 24));
        background-color: var(--observation-charts-background-color , inherit);
        padding: var(--observation-charts-padding , 10px);
      }

      :host .type{
        font-size: var(--observation-charts-font-size-type , inherit);
        color: var(--observation-charts-font-color-type , rgb(255, 255, 255));
        width: 100%;
        background: var(--observation-charts-background-color-type , #DA8232);
        text-align: center;
        border-radius:  var(--observation-charts-border-radius-type , 15px);
        padding:  var(--observation-charts-padding-type , 10px);
      }

      :host .valueCodeableConcept{
        font-size: var(--observation-charts-font-size-concept , inherit);
        color: var(--observation-charts-font-color-concept , rgb(255, 255, 255));
        width: auto;
        padding-left: 10%;
        text-align: left;
        background: var(--observation-charts-background-color-chart-info , #E38437);
        border-radius: var(--observation-charts-border-radius-chart-info , 25px);


      }

      :host .codeText{
        font-size: var(--observation-charts-font-size-code , inherit);
        color: var(--observation-charts-font-color-code , rgb(255, 255, 255));
        width: 50%;
        text-align: left;
        float: left;
        padding-left: 10%;
      }


    </style>


    <!-- shadow DOM goes here -->
    <div id="content">
      <template is="dom-repeat" items="[[toShow]]">
          <div class="type">{{item.resource.category.0.coding.0.code}} </div></br>
          <div class="codeText">{{item.resource.code.text}}:</div><div class="valueCodeableConcept">{{item.resource.valueQuantity.value}}  {{item.resource.valueQuantity.unit}}</div></br></br>
      </template>
    </div>

    <iron-ajax
    url="{{url}}"
    headers='{"Accept": "application/json+fhir"}'
    content-type="application/json"
    handle-as="json"
    on-response="handleResponse"
    method="GET"
    on-error="_error"
    id="iron_ajax"/>

  </template>

  <script>
    class ObservationCharts extends Polymer.Element {
      static get is() {
        return 'observation-charts';
      }
      static get properties() {
        return {
          toShow: {
            type: Array
          },
          patientid: {
            type: String,
            observer: "_changedPatientID"
          },
          url: {
            type: String
          }
        }
      }

      constructor() {
        super();
      }


      handleResponse(data) {
        this.toShow = data.detail.response.entry;
        console.log(this.toShow);
      }

      _changedPatientID(){
        this.url = "https://fhirtest.uhn.ca/baseDstu3/Observation?patient=" + this.patientid;
        this.$.iron_ajax.generateRequest();
      }

      displayIndex(index) {
        return index + 1;
      }

      _error(event) {
        console.log(event);
        console.log(event.detail);
        console.log(event.detail.error);
        console.log(event.detail.error.message);
        console.log(event.detail.request);
        console.log(event.detail.response);
        console.log(event.detail.request.response);
      }

    }
    customElements.define(ObservationCharts.is, ObservationCharts);
  </script>

</dom-module>
