<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="https://polygit.org/polymer+v2.0.0/shadycss+webcomponents+1.0.0/components/iron-ajax/iron-ajax.html">

<dom-module id="patient-demographics">

  <template>

    <style>

      :host {
        width: 100%;
        color: var(--patient-demographics-font-color , rgb(255, 255, 255));
      }

      :host #content {
        padding: 10px;
      }

      :host #name {
        text-align: center;
        font-size: var(--patient-demographics-font-size-name , 26pt);
      }

      :host #maleAge {
        font-size: var(--patient-demographics-font-size-male-age , 22pt);
        margin-left: 15px;
      }

      :host #birthdate {
        font-size: var(--patient-demographics-font-size-birthdate , 22pt);
      }

      :host #birthdateTitle {
        font-weight: 900;
        font-size: var(--patient-demographics-font-size-birthdate-title , 22pt);
      }

    </style>


  <div id=content>
    <div id="name">
      <template is="dom-repeat" items="[[patient.name.0.given]]">
        {{item}}
      </template> {{patient.name.0.family}}
  </div>
  </br>
  <div id="maleAge">
    {{patient.gender}}, {{age}}
  </div>
  </br>
  <div id="birthdate">
    <div id="birthdateTitle">Date of birth:</div>
    {{patient.birthDate}}
  </div>
  </div>

  <iron-ajax url="{{url}}"
  headers='{"Accept": "application/json+fhir"}'
  content-type="application/json"
  handle-as="json"
  on-response="handleResponse"
  method="GET"
  on-error="_error"
  id="iron_ajax"/>


  </template>

  <script>
    class PatientDemographics extends Polymer.Element {
      static get is() {
        return 'patient-demographics';
      }
      static get properties() {
        return {
          patient: {
            type: Object
          },
          uuid: {
            type: String,
            observer: "_changedUUID"
          },
          url: {
            type: String
          },
          age: {
            type: Number
          }
        }
      }
      constructor() {
        super();
      }

      handleResponse(data) {
        var tmp_patient = data.detail.response;

        if(tmp_patient.gender){
          tmp_patient.gender = __capitalizeFirstLetter(tmp_patient.gender);
        }else{
          tmp_patient.gender = "-";
        }

        this.patient = tmp_patient

        if(this.patient.birthDate){
          this.age = __calculateAge(this.patient.birthDate);
        } else {
          this.age = 0;
        }
      }

      _error(event) {
        __ironAjaxError(event);
      }

      _changedUUID() {
        this.url = "https://fhirtest.uhn.ca/baseDstu3/Patient/" + this.uuid;
        this.$.iron_ajax.generateRequest();
      }

    }
    customElements.define(PatientDemographics.is, PatientDemographics);
  </script>


</dom-module>
