<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="https://polygit.org/polymer+v2.0.0/shadycss+webcomponents+1.0.0/components/iron-ajax/iron-ajax.html">



<dom-module id="patient-search">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    :host{
      font-size: var(--patient-search-font-size , inherit);
      color: var(--patient-search-font-color , inherit);
      background-color: var(--patient-search-background-color , inherit);
    }

    .loader {
      border: 6px solid #f3f3f3;
      border-radius: 50%;
      border-top: 6px solid #db7f34;
      width: 40px;
      height: 40px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(1080deg); }
    }

    </style>

    <template is="dom-if" if="{{loading}}">
      <div class="loader"></div>
    </template>

    <template is="dom-if" if="{{notLoading}}">
      <ul class="list-group">
        <template is="dom-repeat" items="[[patient]]" id="results">
          <a class="list-group-item" href="#" onclick="ClickedItem(this);" id="{{item.resource.id}}">{{item.resource.name.0.given.0}}
                                                                                              {{item.resource.name.0.family}}</a>
        </template>
        <template is="dom-if" if="{{notFound}}">
          <li class="list-group-item" id="notFound">No matching patients found.</li>
        </template>
      </ul>
    </template>

  <iron-ajax url="http://ontoserver.csiro.au/stu3-latest/Patient" params='{{sqObj}}' content-type="application/json" handle-as="json" headers='{"Accept": "application/json+fhir"}' on-response="handleResponse" method="GET" on-error="_error" id="iron_ajax"></iron-ajax>

  </template>

  <script>
    class PatientSearch extends Polymer.Element {
      static get is() {
        return 'patient-search';
      }
      static get properties() {
        return {
          patient: {
            type: Array,
            notify: true
          },
          sq: {
            type: String,
            observer: "_changedSQ"
          },
          sqObj: {
            type: Object
          },
          loading: {
            type: Boolean
          },
          notLoading: {
            type: Boolean
          },
          notFound: {
            type: Boolean
          }
        }
      }
      constructor() {
        super();
        this.notFound = false;
      }

      handleResponse(data) {
        console.log(data.detail.response);
        this.loading = false;
        this.notLoading = true;
        this.patient = data.detail.response.entry;
        if (this.patient) {
          if (this.patient.length == 0) {
            this.notFound = true;
          } else {
            this.notFound = false;
          }
        } else {
          this.notFound = true;
        }
      }


      _error(event) {
        __ironAjaxError(event);
      }

      _changedSQ() {

        this.sqObj = {
          given: this.sq
        }
        this.$.iron_ajax.generateRequest();
        this.loading = true;
        this.notLoading = false;
      }


    }
    customElements.define(PatientSearch.is, PatientSearch);
  </script>


</dom-module>
